/*-------------------------------------ZEROSTYLE---------------------------------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    }
    *,*: before,*:after{
    -moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    :focus,:active{outline: none;}
    a:focus, a:active{outline: none;}
    
    nav,footer,header,aside{display: block;}
    
    html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: -1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;    
    }
    
    input,button,textarea{font-family: inherit;}
    
    input: ::-ms-clear{display: none;}
    button{cursor: pointer;}
    button::-moz-focus-inner{padding:0;border:0;}
    a, a:visited{text-decoration: none;}
    a:hover {text-decoration: none;}
    ul li {list-style: none;}
    img{vertical-align: top;}
    
    h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
    
    .wrapper {
        min-height:  100%;
        overflow:  hidden;
        display: flex;
        flex-direction: column;
    }
/*----------------------------------FONTS----------------------------------------------------*/
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin_cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-latin_cyrillic-ext-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin_cyrillic-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin_cyrillic-ext-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin_cyrillic-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin_cyrillic-ext-500.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #533738;
    background-color: #E5E5E5;
}
.title {
font-size: 40px;
line-height: 50px;
}
/*-------------------------------------HEADER----------------------------------------------------*/
.background__wrapper {
    background: url(../pic/background.jpg) no-repeat center;
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
    height: 715px;
    margin-bottom: 65px;
    
}  
.header__wrapper {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    font-size: 16px;
    padding-top: 38px;
    margin-bottom: 94px;
    
}
.header__logo {
    width: 90px;
    margin-right: 89px;
    padding-left: 25px;
    background: url(../pic/logo.svg) no-repeat left center;
    color: inherit; 
}



.nav__list {
    display: flex;
    flex-wrap: wrap;
    
}
.nav_link:hover {
    color: rgb(149, 111, 111);
}
.nav_link a {
   color: inherit;

}
.nav_link:not(:last-child){
    margin-right: 26px;}


   
/*-----------------------------------------INTRO------------------------------*/
.intro {
margin-left: 185px;

}
.intro__title {
    width: 534px;
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 24px;
}
.description {
    width: 405px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 46px;
}
.intro__anchor {
   
    background-color: #CC8B86;
    padding: 25px 64px 25px 64px;
    color: inherit;
}
.intro__anchor:hover {
    background-color: #a16a66;
    transition: .2s all;
}
/*----------------------------------ABOUT US ------------------------*/
.about__us{
    max-width: 1035px;
    margin: 0 auto;
    

}
.about__us__title  {
margin-bottom: 40px;
text-align: center;

}
.about__us__container {
    display: flex;
}
.about__us__pic {
    background-color: #E5E5E5;
    margin-right: 62px;
    margin-bottom: 21px;
}
.about__us__descr {
font-size: 18px;
line-height: 30px;
}
.descr__prt1 {
    margin-bottom: 30px;
}
/*--------------------------------------------DECISIONS---------------------------*/
.decisions {
    width: 100%;
    height: 273px;
    background-color: #8D7370;
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
    
}

.decision {
    margin-top: 85px;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
}

.count {
    text-align: center;
    font-size: 50px;
    line-height: 62px;
}
.descision_name {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}
/*------------------------------------------RESULTS--------------------------------------*/
.results {
    margin: 0 auto;
    max-width: 1200px;
    max-height: 1100px;
}
.results__title{
    margin-bottom: 40px;
    
}

.gallery__row {
    display: flex;
    
}
.row_1 {
    margin-bottom: 30px;
}
.row_2{
    margin-bottom: 40px;
}
.gallery__slide_small {
    max-width: 488px;
    max-height: 451px;
    margin-right: 20px;
    
}
.result__description {
    color: white;
    background: url("/pic/pic1.jpg") no-repeat center;
    background-size: 488px 451px;
    
   
}
.result__title {

font-size: 30px;
line-height: 37px;
text-align: center;
margin-bottom: 30px;
padding-top: 86px;
}
.result_description {
font-weight: 400;
font-size: 18px;
line-height: 30px;
padding-bottom: 122px;
padding-left: 35px;
padding-right: 35px;

}
.gallery__slide_large {
    max-width: 692px;
    max-height: 451px;
}
.large2 {
    margin-right: 20px;
}
.more_link {
font-weight: 500;
font-size: 30px;
line-height: 37px;
color: #533738;

}
.more {
    margin: 0 auto;
    margin-bottom: 65px;
    width: 310px;
    background: url(/pic/Arrow.svg) no-repeat 95% center; 
}
.more:hover, more:focus {
    background: url(/pic/Arrow.svg) no-repeat right center;
    transition: .2s all;
}
/*------------------------------------------TEAM--------------------------------*/
.team{
    height: 618px;
    width: 100%;
    background-color: #E2C4BA;
}
.how__we__work {
    height: 380px;
    width: 100%;
    background-color: #E2C4BA; 
    margin-bottom: 65px; 
}
.team__title{
text-align: center;
padding-top: 50px;
padding-bottom: 42px;
} 
.team_container {
    display: flex;
    justify-content: center;
    
}
.team__card {
    width: 320px;
}
.team__card:not(:last-child){
    margin-right: 38px;
}
/*-----------------------------------------HOW WE WORK------------------------------------*/
.how__we__work__title {
text-align: center;
margin-bottom: 40px;
}
.step__container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

}
.steps {
    width: 285px;
    text-align: center;
}
.steps:not(:last-child){
    margin-right: 20px;
}
.step__number {
    display: flex;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background-color: #8D7370;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/*------------------------------------REVIEW--------------------------*/
.review{
    height: 788px;
}
.review_title {
    text-align: center;
    margin-bottom: 40px;
}
.review__slider__container {
    max-width: 1036px;
    display: flex;
    margin: 0 auto;
}
.back__button, .fwd__button {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #CC8B86;
    margin: auto 0;
}
.back__button:hover, .fwd__button:hover{
    transform: scale(1.1);
    transition: .5s all;
}
.review__info__container {
    max-width: 407px;
    margin-left: 29px;
   padding-top: 91px;
    
}
.review__info {
    margin-bottom: 30px;
}
.review__info__prt:not(:last-child){
    margin-bottom: 30px;
}

.review__pic__container {
    max-width: 407px;
    margin-right: 29px;
    margin-left: 20px;
}
.review__pic:not(:last-child) {
    margin-bottom: 17px;
}
/*------------------------------REQUEST------------------------------*/
.request {
    width: 100%;
    max-height: 624px;
    background-color: #8D7370;
    margin-bottom: 37px;
    
}
.request__container{
    max-width: 1118px;
    margin: 0 auto;
    display: flex;
}
.request__form__container {
    width: 50%;
    padding-top: 50px;
    padding-left: 20px;
    margin-right: 20px;
    
}
.request__title{
    color: white;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 24px;
}

.request__descrip{
    color: white;
    margin-bottom: 44px;
    opacity: 0.6;
}

.request__field{ 
    width: 100%;
    color: #F6EDE9;
    background-color: transparent;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 35px;
}
input::-webkit-input-placeholder { color: white; }
.submit__request{
    padding: 25px 68px 25px 68px;
    color: #533738;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background-color: #CC8B86;
    margin-bottom: 186px;
}
.submit__request:hover, .submit__request:focus {
    background-color: #a06a66;
}
.submit__request:active {
    transform: scale(0.9);
    transition: .2s all;
}
.map{
    height: 624px;
    width: 590px;
}
/*------------------------------------FOOTER----------------------------------*/
.page__footer {
    display: flex;
    position: relative;
    min-height: 100px;
}
.page__footer a:first-child{
    margin-right: 42px;
    margin-left: 100px;
}
.page__footer a {
    
    color: inherit;
    text-decoration: none;
}
.organisation__name {
    position: absolute;
    right: 100px;
}